/* noto-sans-100 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/noto-sans-v27-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/noto-sans-v27-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/noto-sans-v27-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-sans-v27-latin-100.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-sans-v27-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-sans-v27-latin-100.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-900 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/noto-sans-v27-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/noto-sans-v27-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/noto-sans-v27-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/noto-sans-v27-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/fonts/noto-sans-v27-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/noto-sans-v27-latin-900.svg#NotoSans') format('svg'); /* Legacy iOS */
}

:root {
  font-family: 'Noto Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: red;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
*:focus,
*:focus-visible {
  outline: 4px auto red;
  border: 4px auto red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
